
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USB/IP Web Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>USB/IP Device Manager</h1>
    <table>
        <thead>
            <tr>
                <th>Device Info</th>
                <th>BUS ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="device-table-body"></tbody>
    </table>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
